<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!/login">$ cat my.moment</a>
    </div>
  </div>
</nav>
<br />
<br />
<div class="container" ng-init="hideWarningMsg=true;">
    <div ng-hide="hideWarningMsg" ng-click="hideWarningMsg=true" class="alert alert-danger" role="alert">
        {{warningMsg}}
      </div>
</div>

<div class="container">

      <form class="form-signin">
      	<h2 class="form-signin-heading">Sign up today!</h2>
    <input class="form-control" type="text" placeholder="Username" ng-model="login.username" required autofocus>
    <br />
    <input class="form-control" type="password" placeholder="Password" ng-model="login.password" required>
    <br />
    <input class="form-control" type="password" placeholder="Password Again" ng-model="login.passwordAgain" required>
    <br />
</form>
    <button style="position: absolute;left: 45%" class="btn btn-lg btn-primary" ng-click="trySignUp()">Sign Up</button>
    <br>
    <br><br><br>
    <a href="#!/login">
    <button style="position: absolute;left: 45%" class="btn btn-lg btn-primary">Go to Login</button>
    </a>
    <br><br><br>
    </div>